<h2>Your Library, Anytime, Anywhere.</h2>
<p>Step into a universe of stories, knowledge, and adventure with our book store app. Whether you’re searching for timeless classics, contemporary bestsellers, or hidden literary gems, our app puts an endless library at your fingertips. Enjoy seamless browsing, personalized recommendations, and instant access to your next great read—anytime, anywhere. Embark on your reading journey today and let every page open a new world of possibilities.</p>

@if (getUser() | async) {
  <div class="mt-5 home-actions">
    <a class="btn btn-primary" style="margin-right: 8px;" [routerLink]="'/books/add'">Create new book</a>
    <a class="btn btn-primary" [routerLink]="'/books/list'">Go to Library</a>
  </div>
}
